<h2 id="introduction">Introduction</h2>

<p>Clique Bait is not like your regular online seafood store - the founder and CEO Danny, was also a part of a digital data analytics team and wanted to expand his knowledge into the seafood industry!</p>

<p>In this case study - you are required to support Danny’s vision and analyse his dataset and come up with creative solutions to calculate funnel fallout rates for the Clique Bait online store.</p>

<h2 id="available-data">Available Data</h2>

<p>For this case study there is a total of 5 datasets which you will need to combine to solve all of the questions.</p>

<h3 id="users">Users</h3>

<p>Customers who visit the Clique Bait website are tagged via their <code class="language-plaintext highlighter-rouge">cookie_id</code>.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>user_id</th>
        <th>cookie_id</th>
        <th>start_date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>397</td>
        <td>3759ff</td>
        <td>2020-03-30 00:00:00</td>
      </tr>
      <tr>
        <td>215</td>
        <td>863329</td>
        <td>2020-01-26 00:00:00</td>
      </tr>
      <tr>
        <td>191</td>
        <td>eefca9</td>
        <td>2020-03-15 00:00:00</td>
      </tr>
      <tr>
        <td>89</td>
        <td>764796</td>
        <td>2020-01-07 00:00:00</td>
      </tr>
      <tr>
        <td>127</td>
        <td>17ccc5</td>
        <td>2020-01-22 00:00:00</td>
      </tr>
      <tr>
        <td>81</td>
        <td>b0b666</td>
        <td>2020-03-01 00:00:00</td>
      </tr>
      <tr>
        <td>260</td>
        <td>a4f236</td>
        <td>2020-01-08 00:00:00</td>
      </tr>
      <tr>
        <td>203</td>
        <td>d1182f</td>
        <td>2020-04-18 00:00:00</td>
      </tr>
      <tr>
        <td>23</td>
        <td>12dbc8</td>
        <td>2020-01-18 00:00:00</td>
      </tr>
      <tr>
        <td>375</td>
        <td>f61d69</td>
        <td>2020-01-03 00:00:00</td>
      </tr>
    </tbody>
  </table>

</div>
<h3 id="events">Events</h3>

<p>Customer visits are logged in this <code class="language-plaintext highlighter-rouge">events</code> table at a <code class="language-plaintext highlighter-rouge">cookie_id</code> level and the <code class="language-plaintext highlighter-rouge">event_type</code> and <code class="language-plaintext highlighter-rouge">page_id</code> values can be used to join onto relevant satellite tables to obtain further information about each event.</p>

<p>The sequence_number is used to order the events within each visit.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>visit_id</th>
        <th>cookie_id</th>
        <th>page_id</th>
        <th>event_type</th>
        <th>sequence_number</th>
        <th>event_time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>719fd3</td>
        <td>3d83d3</td>
        <td>5</td>
        <td>1</td>
        <td>4</td>
        <td>2020-03-02 00:29:09.975502</td>
      </tr>
      <tr>
        <td>fb1eb1</td>
        <td>c5ff25</td>
        <td>5</td>
        <td>2</td>
        <td>8</td>
        <td>2020-01-22 07:59:16.761931</td>
      </tr>
      <tr>
        <td>23fe81</td>
        <td>1e8c2d</td>
        <td>10</td>
        <td>1</td>
        <td>9</td>
        <td>2020-03-21 13:14:11.745667</td>
      </tr>
      <tr>
        <td>ad91aa</td>
        <td>648115</td>
        <td>6</td>
        <td>1</td>
        <td>3</td>
        <td>2020-04-27 16:28:09.824606</td>
      </tr>
      <tr>
        <td>5576d7</td>
        <td>ac418c</td>
        <td>6</td>
        <td>1</td>
        <td>4</td>
        <td>2020-01-18 04:55:10.149236</td>
      </tr>
      <tr>
        <td>48308b</td>
        <td>c686c1</td>
        <td>8</td>
        <td>1</td>
        <td>5</td>
        <td>2020-01-29 06:10:38.702163</td>
      </tr>
      <tr>
        <td>46b17d</td>
        <td>78f9b3</td>
        <td>7</td>
        <td>1</td>
        <td>12</td>
        <td>2020-02-16 09:45:31.926407</td>
      </tr>
      <tr>
        <td>9fd196</td>
        <td>ccf057</td>
        <td>4</td>
        <td>1</td>
        <td>5</td>
        <td>2020-02-14 08:29:12.922164</td>
      </tr>
      <tr>
        <td>edf853</td>
        <td>f85454</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>2020-02-22 12:59:07.652207</td>
      </tr>
      <tr>
        <td>3c6716</td>
        <td>02e74f</td>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td>2020-01-31 17:56:20.777383</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="event-identifier">Event Identifier</h3>

<p>The <code class="language-plaintext highlighter-rouge">event_identifier</code> table shows the types of events which are captured by Clique Bait’s digital data systems.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>event_type</th>
        <th>event_name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Page View</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Add to Cart</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Purchase</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Ad Impression</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Ad Click</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="campaign-identifier">Campaign Identifier</h3>

<p>This table shows information for the 3 campaigns that Clique Bait has ran on their website so far in 2020.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>campaign_id</th>
        <th>products</th>
        <th>campaign_name</th>
        <th>start_date</th>
        <th>end_date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>1-3</td>
        <td>BOGOF - Fishing For Compliments</td>
        <td>2020-01-01 00:00:00</td>
        <td>2020-01-14 00:00:00</td>
      </tr>
      <tr>
        <td>2</td>
        <td>4-5</td>
        <td>25% Off - Living The Lux Life</td>
        <td>2020-01-15 00:00:00</td>
        <td>2020-01-28 00:00:00</td>
      </tr>
      <tr>
        <td>3</td>
        <td>6-8</td>
        <td>Half Off - Treat Your Shellf(ish)</td>
        <td>2020-02-01 00:00:00</td>
        <td>2020-03-31 00:00:00</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="page-hierarchy">Page Hierarchy</h3>

<p>This table lists all of the pages on the Clique Bait website which are tagged and have data passing through from user interaction events.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>page_id</th>
        <th>page_name</th>
        <th>product_category</th>
        <th>product_id</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Home Page</td>
        <td>null</td>
        <td>null</td>
      </tr>
      <tr>
        <td>2</td>
        <td>All Products</td>
        <td>null</td>
        <td>null</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Salmon</td>
        <td>Fish</td>
        <td>1</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Kingfish</td>
        <td>Fish</td>
        <td>2</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Tuna</td>
        <td>Fish</td>
        <td>3</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Russian Caviar</td>
        <td>Luxury</td>
        <td>4</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Black Truffle</td>
        <td>Luxury</td>
        <td>5</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Abalone</td>
        <td>Shellfish</td>
        <td>6</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Lobster</td>
        <td>Shellfish</td>
        <td>7</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Crab</td>
        <td>Shellfish</td>
        <td>8</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Oyster</td>
        <td>Shellfish</td>
        <td>9</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Checkout</td>
        <td>null</td>
        <td>null</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Confirmation</td>
        <td>null</td>
        <td>null</td>
      </tr>
    </tbody>
  </table>

</div>

<h2 id="interactive-sql-instance">Interactive SQL Instance</h2>

<p>You can use the provided DB Fiddle instance to easily access these example datasets - this interactive session has everything you need to start solving these questions using SQL.</p>

<p><button type="button"><a href="https://www.db-fiddle.com/f/jmnwogTsUE8hGqkZv9H7E8/17" target="_blank">Click here</a></button> to open a fully functional SQL editor where you can write your own queries to analyse the data.</p>

<p>In past case studies - you would have seen an embedded DB Fiddle instance, but this time it seems like this week’s case study datasets might have been too big and broke the API for the embedded iframe code - whoops!!!</p>

<p>You can feel free to choose any SQL dialect you’d like to use, the existing Fiddle is using PostgreSQL 13 as default.</p>

<p>Serious SQL students will have access to the same relevant schema SQL and example solutions which they can use with their Docker setup from within the course player!</p>

<h2 id="case-study-questions">Case Study Questions</h2>

<h3 id="2-digital-analysis">2. Digital Analysis</h3>

<p>Using the available datasets - answer the following questions using a single query for each one:</p>

1. How many users are there?
<p> Nice round number to start off with - 500</p>
---

    select count(*) tot_users
    from
    (SELECT user_id 
    from clique_bait.users
    group by user_id) users_tot;

| tot_users |
| --------- |
| 500       |

2. How many cookies does each user have on average?
<p> Right around 3.6 per user on average! </p>
---

    select round((sum(tot_cookies))/ cast(count(*) as decimal) ,2) cookies_per_user
    from
    (select user_id, count(*) as tot_cookies
    from
    (SELECT user_id, cookie_id
    from clique_bait.users
    group by user_id,cookie_id) users_cookies
    group by user_id) tot_users;

| cookies_per_user |
| ---------------- |
| 3.56             |

3. What is the unique number of visits by all users per month?
</p> I dislike very much using DISTINCT. Here I dedup everything through SQL </p>
---

    select month_year, count(*) as visits
    from
    (select visit_id,
    case when length(cast(extract(month from event_time) as text)) =1 
    then concat('0',extract(month from event_time),'/',extract(year from event_time))  
    else concat('0',extract(month from event_time),'/',extract(year from event_time)) 
    end month_year
    from clique_bait.events
    group by  case when length(cast(extract(month from event_time) as text)) =1 
    then concat('0',extract(month from event_time),'/',extract(year from event_time))  
    else concat('0',extract(month from event_time),'/',extract(year from event_time)) 
    end , visit_id) tot_visits
    group by month_year
    order by month_year;

| month_year | visits |
| ---------- | ------ |
| 01/2020    | 876    |
| 02/2020    | 1488   |
| 03/2020    | 916    |
| 04/2020    | 248    |
| 05/2020    | 36     |

4. What is the number of events for each event type?

---

    select event_name, sum(events) events
    from 
    (select event_name, cookie_id,  count(*) events
    from clique_bait.events e
    left join clique_bait.event_identifier ei
    on e.event_type = ei.event_type
    group by cookie_id, event_name) totals
    group by event_name
    order by count(*) desc;

| event_name    | events |
| ------------- | ------ |
| Page View     | 20928  |
| Add to Cart   | 8451   |
| Purchase      | 1777   |
| Ad Impression | 876    |
| Ad Click      | 702    |

5. What is the percentage of visits which have a purchase event?
<p> Almost 50% of ALL visits have purchases! </p>
---

    with visit_info as 
    (select event_type, event_name
    from clique_bait.event_identifier
    group by event_type, event_name)
    
    ,visit_with_purchase as
    (select visit_id, max(purchase) purchases
    from
    (select visit_id, 
    case when lower(event_name)='purchase' then 1 else 0 end as purchase
    from clique_bait.events e
    left join visit_info v
    on v.event_type = e.event_type
    group by visit_id, event_name) purchases
    group by visit_id)
    
    select  round((sum(purchases)/cast(count(*) as decimal)*100) ,2) per_visits_with_pur
    from visit_with_purchase;

| per_visits_with_pur |
| ------------------- |
| 49.86               |


6. What is the percentage of visits which view the checkout page but do not have a purchase event?
<p> This depends on whether you consider an item added to the cart and no checkout happening, where ~30% of all items werent purchased, or when you hit the checkout page if you do not purchase, where that number is ~10%</p>
---

    with big_base as
    (select user_id, visit_id, max(checkout) checkout, max(checkout_complete) checkout_complete
    from
    (select *, case when sum(purchase+checkout) over (partition by user_id, visit_id, cookie_id) = 2 then 1 else 0 end as checkout_complete
    from
    (SELECT user_id, e.*, product_category, page_name, event_name , 
    case when lower(page_name) = 'checkout' then 1 else 0 end checkout,
    case when lower(event_name) = 'purchase' then 1 else 0 end purchase
    FROM clique_bait.events e
    left join clique_bait.event_identifier ei
    on e.event_type = ei.event_type
    left join clique_bait.page_hierarchy ph
    on e.page_id = ph.page_id
    left join clique_bait.users u
    on u.cookie_id = e.cookie_id
    and extract(day from u.start_date) = extract(day from e.event_time)
    and extract(month from u.start_date) = extract(month from e.event_time)
    and extract(year from u.start_date) = extract(year from e.event_time)
    
    order by user_id, visit_id) base_table) final_table group by user_id, visit_id)
    
    select  sum(checkout_complete) checkout_complete,sum(checkout) checkout,
    abs(sum(checkout_complete) - sum(checkout)) checkout_page_no_checkout,
    (100-round((sum(checkout_complete)/cast(sum(checkout) as decimal))*100,2)) per_complete_checkout,
    count(*) tot_visits
    from
    (select user_id, visit_id, checkout, checkout_complete
    from big_base
    group by user_id, visit_id, checkout, checkout_complete) tots;

| checkout_complete | checkout | checkout_page_no_checkout | per_complete_checkout | tot_visits |
| ----------------- | -------- | ------------------------- | --------------------- | ---------- |
| 1777              | 2103     | 326                       | 15.50                 | 3574       |


    with visit_info as 
    (select event_type, event_name
    from clique_bait.event_identifier
    group by event_type, event_name)
    
    ,add_to_cart as
    (select visit_id, add_cart
    from
    (select visit_id, max(add_cart) add_cart
    from
    (select visit_id, 
    case when lower(event_name)='add to cart' then 1 else 0 end as add_cart
    from clique_bait.events e
    left join visit_info v
    on v.event_type = e.event_type
    group by visit_id, event_name) adds
    group by visit_id) tot_adds
    group by visit_id, add_cart
    having add_cart = 1)
    
    ,visit_with_purchase as
    (select visit_id, purchase
    from
    (select visit_id, max(purchase) purchase
    from
    (select visit_id, 
    case when lower(event_name)='purchase' then 1 else 0 end as purchase
    from clique_bait.events e
    left join visit_info v
    on v.event_type = e.event_type
    group by visit_id, event_name) purchases
    group by visit_id) full_pur
    group by visit_id, purchase
    having purchase =1)
    
    select sum(purchased) as total_purchases, sum(add_cart) tot_add_cart,
    sum(add_cart) - sum(purchased) add_cart_no_pur,
    round((1-(cast(sum(purchased) as decimal)/cast(sum(added_cart) as decimal)))*100,2) add_cart_no_pur_per
    from
    (select *, 1 as added_cart, case when purchase = 1 then 1 else 0 end purchased
    from add_to_cart a
    left join visit_with_purchase v 
    on a.visit_id = v.visit_id) tot_visit;

| total_purchases | tot_add_cart | add_cart_no_pur | add_cart_no_pur_per |
| --------------- | ------------ | --------------- | ------------------- |
| 1777            | 2510         | 733             | 29.20               |

7. What are the top 3 pages by number of views?
<p>This depends whether you think on a visit basis, or multiple views in the same visit. Ill show both here.</p>
---

  <li>What is the number of views and cart adds for each product category?</li>
  <li>What are the top 3 products by purchases?</li>
</ol>

<h3 id="3-product-funnel-analysis">3. Product Funnel Analysis</h3>

<p>Using a single SQL query - create a new output table which has the following details:</p>

<ul>
  <li>How many times was each product viewed?</li>
  <li>How many times was each product added to cart?</li>
  <li>How many times was each product added to a cart but not purchased (abandoned)?</li>
  <li>How many times was each product purchased?</li>
</ul>

<p>Additionally, create another table which further aggregates the data for the above points but this time for each product category instead of individual products.</p>

<p>Use your 2 new output tables - answer the following questions:</p>

<ol>
  <li>Which product had the most views, cart adds and purchases?</li>
  <li>Which product was most likely to be abandoned?</li>
  <li>Which product had the highest view to purchase percentage?</li>
  <li>What is the average conversion rate from view to cart add?</li>
  <li>What is the average conversion rate from cart add to purchase?</li>
</ol>

<h3 id="3-campaigns-analysis">3. Campaigns Analysis</h3>

<p>Generate a table that has 1 single row for every unique <code class="language-plaintext highlighter-rouge">visit_id</code> record and has the following columns:</p>

<ul>
  <li><code class="language-plaintext highlighter-rouge">user_id</code></li>
  <li><code class="language-plaintext highlighter-rouge">visit_id</code></li>
  <li><code class="language-plaintext highlighter-rouge">visit_start_time</code>: the earliest <code class="language-plaintext highlighter-rouge">event_time</code> for each visit</li>
  <li><code class="language-plaintext highlighter-rouge">page_views</code>: count of page views for each visit</li>
  <li><code class="language-plaintext highlighter-rouge">cart_adds</code>: count of product cart add events for each visit</li>
  <li><code class="language-plaintext highlighter-rouge">purchase</code>: 1/0 flag if a purchase event exists for each visit</li>
  <li><code class="language-plaintext highlighter-rouge">campaign_name</code>: map the visit to a campaign if the <code class="language-plaintext highlighter-rouge">visit_start_time</code> falls between the <code class="language-plaintext highlighter-rouge">start_date</code> and <code class="language-plaintext highlighter-rouge">end_date</code></li>
  <li><code class="language-plaintext highlighter-rouge">impression</code>: count of ad impressions for each visit</li>
  <li><code class="language-plaintext highlighter-rouge">click</code>: count of ad clicks for each visit</li>
  <li><strong>(Optional column)</strong> <code class="language-plaintext highlighter-rouge">cart_products</code>: a comma separated text value with products added to the cart sorted by the order they were added to the cart (hint: use the <code class="language-plaintext highlighter-rouge">sequence_number</code>)</li>
</ul>

<p>Use the subsequent dataset to generate at least 5 insights for the Clique Bait team - bonus: prepare a single A4 infographic that the team can use for their management reporting sessions, be sure to emphasise the most important points from your findings.</p>

<p>Some ideas you might want to investigate further include:</p>

<ul>
  <li>Identifying users who have received impressions during each campaign period and comparing each metric with other users who did not have an impression event</li>
  <li>Does clicking on an impression lead to higher purchase rates?</li>
  <li>What is the uplift in purchase rate when comparing users who click on a campaign impression versus users who do not receive an impression? What if we compare them with users who just an impression but do not click?</li>
  <li>What metrics can you use to quantify the success or failure of each campaign compared to eachother?</li>
</ul>