<h2 id="introduction">Introduction</h2>

<p>There is a new innovation in the financial industry called Neo-Banks: new aged digital only banks without physical branches.</p>

<p>Danny thought that there should be some sort of intersection between these new age banks, cryptocurrency and the data world…so he decides to launch a new initiative - Data Bank!</p>

<p>Data Bank runs just like any other digital bank - but it isn’t only for banking activities, they also have the world’s most secure distributed data storage platform!</p>

<p>Customers are allocated cloud data storage limits which are directly linked to how much money they have in their accounts. There are a few interesting caveats that go with this business model, and this is where the Data Bank team need your help!</p>

<p>The management team at Data Bank want to increase their total customer base - but also need some help tracking just how much data storage their customers will need.</p>

<p>This case study is all about calculating metrics, growth and helping the business analyse their data in a smart way to better forecast and plan for their future developments!</p>

<h2 id="available-data">Available Data</h2>

<p>The Data Bank team have prepared a data model for this case study as well as a few example rows from the complete dataset below to get you familiar with their tables.</p>

<h3 id="entity-relationship-diagram">Entity Relationship Diagram</h3>

<p><img src="https://8weeksqlchallenge.com/images/case-study-4-erd.png" /></p>

<h3 id="table-1-regions">Table 1: Regions</h3>

<p>Just like popular cryptocurrency platforms - Data Bank is also run off a network of nodes where both money and data is stored across the globe. In a traditional banking sense - you can think of these nodes as bank branches or stores that exist around the world.</p>

<p>This <code class="language-plaintext highlighter-rouge">regions</code> table contains the <code class="language-plaintext highlighter-rouge">region_id</code> and their respective <code class="language-plaintext highlighter-rouge">region_name</code> values</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>region_id</th>
        <th>region_name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Africa</td>
      </tr>
      <tr>
        <td>2</td>
        <td>America</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Asia</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Europe</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Oceania</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="table-2-customer-nodes">Table 2: Customer Nodes</h3>

<p>Customers are randomly distributed across the nodes according to their region - this also specifies exactly which node contains both their cash and data.</p>

<p>This random distribution changes frequently to reduce the risk of hackers getting into Data Bank’s system and stealing customer’s money and data!</p>

<p>Below is a sample of the top 10 rows of the <code class="language-plaintext highlighter-rouge">data_bank.customer_nodes</code></p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>customer_id</th>
        <th>region_id</th>
        <th>node_id</th>
        <th>start_date</th>
        <th>end_date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>3</td>
        <td>4</td>
        <td>2020-01-02</td>
        <td>2020-01-03</td>
      </tr>
      <tr>
        <td>2</td>
        <td>3</td>
        <td>5</td>
        <td>2020-01-03</td>
        <td>2020-01-17</td>
      </tr>
      <tr>
        <td>3</td>
        <td>5</td>
        <td>4</td>
        <td>2020-01-27</td>
        <td>2020-02-18</td>
      </tr>
      <tr>
        <td>4</td>
        <td>5</td>
        <td>4</td>
        <td>2020-01-07</td>
        <td>2020-01-19</td>
      </tr>
      <tr>
        <td>5</td>
        <td>3</td>
        <td>3</td>
        <td>2020-01-15</td>
        <td>2020-01-23</td>
      </tr>
      <tr>
        <td>6</td>
        <td>1</td>
        <td>1</td>
        <td>2020-01-11</td>
        <td>2020-02-06</td>
      </tr>
      <tr>
        <td>7</td>
        <td>2</td>
        <td>5</td>
        <td>2020-01-20</td>
        <td>2020-02-04</td>
      </tr>
      <tr>
        <td>8</td>
        <td>1</td>
        <td>2</td>
        <td>2020-01-15</td>
        <td>2020-01-28</td>
      </tr>
      <tr>
        <td>9</td>
        <td>4</td>
        <td>5</td>
        <td>2020-01-21</td>
        <td>2020-01-25</td>
      </tr>
      <tr>
        <td>10</td>
        <td>3</td>
        <td>4</td>
        <td>2020-01-13</td>
        <td>2020-01-14</td>
      </tr>
    </tbody>
  </table>

</div>

<h3 id="table-3-customer-transactions">Table 3: Customer Transactions</h3>

<p>This table stores all customer deposits, withdrawals and purchases made using their Data Bank debit card.</p>

<div class="responsive-table">

  <table>
    <thead>
      <tr>
        <th>customer_id</th>
        <th>txn_date</th>
        <th>txn_type</th>
        <th>txn_amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>429</td>
        <td>2020-01-21</td>
        <td>deposit</td>
        <td>82</td>
      </tr>
      <tr>
        <td>155</td>
        <td>2020-01-10</td>
        <td>deposit</td>
        <td>712</td>
      </tr>
      <tr>
        <td>398</td>
        <td>2020-01-01</td>
        <td>deposit</td>
        <td>196</td>
      </tr>
      <tr>
        <td>255</td>
        <td>2020-01-14</td>
        <td>deposit</td>
        <td>563</td>
      </tr>
      <tr>
        <td>185</td>
        <td>2020-01-29</td>
        <td>deposit</td>
        <td>626</td>
      </tr>
      <tr>
        <td>309</td>
        <td>2020-01-13</td>
        <td>deposit</td>
        <td>995</td>
      </tr>
      <tr>
        <td>312</td>
        <td>2020-01-20</td>
        <td>deposit</td>
        <td>485</td>
      </tr>
      <tr>
        <td>376</td>
        <td>2020-01-03</td>
        <td>deposit</td>
        <td>706</td>
      </tr>
      <tr>
        <td>188</td>
        <td>2020-01-13</td>
        <td>deposit</td>
        <td>601</td>
      </tr>
      <tr>
        <td>138</td>
        <td>2020-01-11</td>
        <td>deposit</td>
        <td>520</td>
      </tr>
    </tbody>
  </table>

</div>


<h2 id="case-study-questions">Case Study Questions</h2>

<p>The following case study questions include some general data exploration analysis for the nodes and transactions before diving right into the core business questions and finishes with a challenging final request!</p>

<h3 id="a-customer-nodes-exploration">A. Customer Nodes Exploration</h3>

---

1. How many unique nodes are there on the Data Bank system?
<p> We need to understand what makes a node. In this case it is my understanding that the combination of region/node makes up a node. This is due to the fact that a node number can exist in several regions. In that case there are 25 nodes in the dataset. In the nodes table, if we simply count the unique number of node_id, then we say there are 5 nodes in total. So it would depend if there are 5 nodes, all operating out of the same juristiction with the right to operate in the 5 regions legally. But most likely, due to varying legality and banking regulations, I would say there are 25 nodes. </p>

---

    select count(*) as nodes
    from
    (select  region_id, node_id
    from data_bank.customer_nodes
    group by region_id, node_id) totals
    
| nodes |
| ----- |
| 25    |

2. What is the number of nodes per region?
<p> Here we see that there are five nodes in each of the five regions. 5*5 = 25. </p>

---

	  select region_name, count(*) as nodes
	  from
	  (select region_name, node_id
	  from data_bank.customer_nodes n
	  left join data_bank.regions r
	  on r.region_id = n.region_id
	  group by region_name, node_id
	  order by 1) totals
	  group by region_name;

| region_name | nodes |
| ----------- | ----- |
| Africa      | 5     |
| America     | 5     |
| Asia        | 5     |
| Australia   | 5     |
| Europe      | 5     |

3. How many customers are allocated to each region?
<p> We see there are varying amounts of customers per region, with Australia have the most and Eurpoe the fewest. I also reversed the grouping here and found out that indeed, a customer can only exist inone region - which is good news :) </p>

---

    select region_name, count(*) as nodes
    from
    (select region_name, customer_id
    from data_bank.customer_nodes n
    left join data_bank.regions r
    on r.region_id = n.region_id
    group by region_name, customer_id
    order by region_name) totals
    group by region_name;

| region_name | nodes |
| ----------- | ----- |
| Africa      | 102   |
| America     | 105   |
| Asia        | 95    |
| Australia   | 110   |
| Europe      | 88    |

  <li>How many days on average are customers reallocated to a different node?</li>
  <li>What is the median, 80th and 95th percentile for this same reallocation days metric for each region?</li>
</ol>

<h3 id="b-customer-transactions">B. Customer Transactions</h3>

<ol>
  <li>What is the unique count and total amount for each transaction type?</li>
  <li>What is the average total historical deposit counts and amounts for all customers?</li>
  <li>For each month - how many Data Bank customers make more than 1 deposit and either 1 purchase or 1 withdrawal in a single month?</li>
  <li>What is the closing balance for each customer at the end of the month?</li>
  <li>What is the percentage of customers who increase their closing balance by more than 5%?</li>
</ol>

<h3 id="c-data-allocation-challenge">C. Data Allocation Challenge</h3>

<p>To test out a few different hypotheses - the Data Bank team wants to run an experiment where different groups of customers would be allocated data using 3 different options:</p>

<ul>
  <li>Option 1: data is allocated based off the amount of money at the end of the previous month</li>
  <li>Option 2: data is allocated on the average amount of money kept in the account in the previous 30 days</li>
  <li>Option 3: data is updated real-time</li>
</ul>

<p>For this multi-part challenge question - you have been requested to generate the following data elements to help the Data Bank team estimate how much data will need to be provisioned for each option:</p>

<ul>
  <li>running customer balance column that includes the impact each transaction</li>
  <li>customer balance at the end of each month</li>
  <li>minimum, average and maximum values of the running balance for each customer</li>
</ul>

<p>Using all of the data available - how much data would have been required for each option on a monthly basis?</p>